<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no"/>
    <title>Welcome to FancyToDo</title> 
    <style>
        html,body{
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            background: #333;
            /* display: flex; */
            justify-content: center;
            align-items: center
        }
        h1,p, a{
            color: #242020;
            text-align: center;
        }
    </style>
</head>
<body>
    <div style="background-color: antiquewhite; color: #333; padding: 20px;">
    <p style="font-size:medium;">Fancytodo.com is still under-construction, and aims to help Chunlin gain some hand-on experience on back-end developing.<br/></p>
    </div>

        <div style="background-color: antiquewhite; color: #333; padding: 30px;">
        <p style="font-size: larger;"><a href="./staticWeb/snake.html">This is a link to Snake.</a></p>
        <p style="font-size: larger;"><a href="./polls">This is a link to Polls-Django.</a></p>
        <p style="font-size: larger;"><a href="./webapp/five-in-a-row.html">This is a link to Five-In-a_Row.</a></p>
        </div>

</body>
</html>
